@model string
@{
    var entityTypeCode = "Action";
    var codespace = "Edi";
    var prifix = Model;
}
<form id="@(prifix)form1" method="post">
    <input name="Id" class="mini-hidden" />
    <input name="OntologyId" class="mini-hidden" />
    <div style="padding-left: 11px; padding-bottom: 5px;">
        <table>
            <tr>
                <td style="width: 70px;">
                    动词：
                </td>
                <td style="width: 150px;">
                    <input name="Verb" class="mini-textbox" required="true" vtype="maxLength:36" />
                </td>
                <td style="width: 70px;">
                    名称：
                </td>
                <td>
                    <input name="Name" class="mini-textbox" required="true" />
                </td>
            </tr>
            <tr>
                <td>
                    允许：
                </td>
                <td>
                    <input name="IsAllowed" class="mini-combobox" style="width: 125px;" required="true"
                           textfield="name" valuefield="code" data="@Html.InfoDicItemsJsonArray("allowType")" shownullitem="false" />
                </td>
                <td>
                    持久化：
                </td>
                <td>
                    <input name="IsPersist" class="mini-combobox" style="width: 125px;" required="true"
                           textfield="name" valuefield="code" data="[{'code':'true','name':'是'},{'code':'false','name':'否'}]" shownullitem="false" />
                </td>
            </tr>
            <tr>
                <td>
                    是否审核：
                </td>
                <td>
                    <input name="IsAudit" class="mini-combobox" style="width: 125px;" required="true"
                           textfield="name" valuefield="code" data="@Html.InfoDicItemsJsonArray("auditType")" shownullitem="false" />
                </td>
                <td>
                    @Html.IconLabel("SortCode", entityTypeCode, codespace)
                </td>
                <td>
                    <input name="SortCode" class="mini-textbox" vtype="int" value="0" required="true" />
                    @Html.Qtip("SortCode", entityTypeCode, codespace)
                </td>
            </tr>
            <tr>
                <td style="width: 70px;">
                    说明：
                </td>
                <td colspan="3">
                    <input name="Description" class="mini-textarea" style="width: 352px;" />
                </td>
            </tr>
        </table>
    </div>
</form>
