@{
	Layout = "~/Views/Shared/_Index.cshtml";
	var infoTabView = Html.GetRuntimeUivIew("Details");
	var tableTabView = Html.GetRuntimeUivIew("Tables");
	var tableSpaceTab = Html.GetRuntimeUivIew("TableSpaces");
	var viewTabView = Html.GetRuntimeUivIew("Views");
	var prifix = "Ac_RDatabase_Index_";
}
<div id="@(prifix)helperSplitter" class="mini-splitter helperSplitter" style="width: 100%; height: 100%;">
	<div showcollapsebutton="true">
		<div class="mini-splitter" style="width: 100%; height: 100%;">
			<div size="260" showcollapsebutton="true">
				<div class="mini-toolbar" style="border: 0; padding: 2px;">
					<div style="float: left">
						@{Html.RenderPartial("Partials/UiViewButtons");}
						<a href="@Url.Action("DbDocs")" target="_blank">数据库文档</a>
					</div>
					<div style="float: right">
					</div>
					<div style="clear: both;">
					</div>
				</div>
				<!--撑满页面-->
				<div class="mini-fit">
					<div id="@(prifix)datagrid1" class="mini-datagrid" style="width:100%;height:100%;" allowAlternating="true" 
						url="@Url.Action("GetPlistDatabases")" idfield="Id" multiselect="false" showModified="false"
						sizeList="[5,10,20,50]" pagesize="10" showFilterRow="true">
						<div property="columns">
							<div type="indexcolumn"></div>
							<div type="checkcolumn"></div>
							<div name="action" width="70" headeralign="center" align="center" cellstyle="padding:0;">
								<a id="@(prifix)btnSearchClear" property="filter" class="mini-button" style="float: right;">条件清空</a>
							</div>
							<div field="CatalogName" width="120" headeralign="center" allowsort="true">
								@Html.IconLabel("CatalogName")
								<input id="@(prifix)CatalogNameFilter" name="CatalogName" property="filter" class="mini-textbox" style="width: 100%;" />
							</div>
							<div field="DataSource" width="120" headeralign="center" allowsort="true">
								@Html.IconLabel("DataSource")
								<input id="@(prifix)DataSourceFilter" name="DataSource" property="filter" class="mini-textbox" style="width: 100%;" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div showcollapsebutton="true">
				<div id="@(prifix)tabs1" class="mini-tabs" style="width: 100%; height: 100%;display:none;"
					activeindex="0" bodystyle="padding:0;border:0;">
					<div name="infoTab" bodyCls="inner" title="@infoTabView.Title" iconStyle="background:url(/content/icons/16x16/@infoTabView.Icon)">
					</div>
					<div name="tableTab" bodycls="inner" title="@tableTabView.Title" iconStyle="background:url(/content/icons/16x16/@tableTabView.Icon)">
					</div>
					<div name="viewTab" bodycls="inner" title="@viewTabView.Title" iconStyle="background:url(/content/icons/16x16/@viewTabView.Icon)">
					</div>
					<div name="tableSpaceTab" bodycls="inner" title="@tableSpaceTab.Title" iconstyle="background:url(/content/icons/16x16/@tableSpaceTab.Icon)">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div size="250" showcollapsebutton="true" visible="false" expanded="false">
		@{Html.RenderPartial("Partials/HelpPane");}
	</div>
</div>
