@model string
@{
	var prifix = Model;
}
<form id="@(prifix)passwordEditForm" method="post">
	<input name="Id" class="mini-hidden" />
	<div style="padding: 5px;">
		<table>
			<tr>
				<td>
					@Html.IconLabel("LoginName", "Account")
				</td>
				<td>
					<input name="LoginName" class="mini-textbox" required="true" />
				</td>
				<td>
					@Html.IconLabel("Password", "Account")
				</td>
				<td>
					<input name="Password" class="mini-password" 
						emptytext="@Html.GetProperty("Password", "Account").GuideWords" required="true" />
					@Html.Qtip("Password", "Account", "Ac")
				</td>
			</tr>
		</table>
	</div>
</form>
