<link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/emotions/emoticon.css")" />
@model string
@{
    var prifix = Model;
    var codespace = ViewContext.RouteData.DataTokens["area"].ToString();
    var entityTypeCode = ViewContext.RouteData.Values["Controller"].ToString();
}
<form id="@(prifix)form1" method="post">
    <input name="Id" class="mini-hidden" />
    <input name="EntityTypeId" class="mini-hidden" />
    <input id="hdIcon" name="Icon" class="mini-hidden" />
    <div style="padding-left: 11px; padding-bottom: 5px;">
        <table>
            <tr>
                <td>
                    @Html.IconLabel("Code")
                </td>
                <td>
                    <input name="Code" class="mini-textbox" required="true" />
                    @Html.Qtip("Code", entityTypeCode, codespace)
                </td>
                <td>
                    @Html.IconLabel("Name")
                </td>
                <td>
                    <input name="Name" class="mini-textbox" required="true" />
                    @Html.Qtip("Name", entityTypeCode, codespace)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.IconLabel("Icon")
                </td>
                <td>
                    <div id="msg" style="float: left; margin: 0px; text-align: center; line-height: 30px; border: 0px; height: 30px; width: 30px;"></div>
                    <a href="JavaScript:void(0)" id="message_face">选择图标</a>
                    @Html.Qtip("Icon", entityTypeCode, codespace)
                </td>
                <td>
                    @Html.IconLabel("SortCode")
                </td>
                <td>
                    <input name="SortCode" class="mini-textbox" vtype="int" value="0" required="true" />
                    @Html.Qtip("SortCode", entityTypeCode, codespace)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.IconLabel("MaxLength")
                </td>
                <td>
                    <input name="MaxLength" class="mini-textbox" vtype="int" value="0" />
                    @Html.Qtip("MaxLength", entityTypeCode, codespace)
                </td>
                <td>
                    @Html.IconLabel("GuideWords")
                </td>
                <td>
                    <input name="GuideWords" class="mini-textbox" emptytext="@Html.GetProperty("GuideWords").GuideWords" />
                    @Html.Qtip("GuideWords", entityTypeCode, codespace)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.IconLabel("DicName")
                </td>
                <td>
                    <input name="DicId" class="mini-combobox" style="width: 125px;"
                           textfield="name" valuefield="id" data="@Html.DicJsonArray()"
                           value="" shownullitem="true" />
                    @Html.Qtip("DicName", entityTypeCode, codespace)
                </td>
                <td></td>
                <td>
                    <input name="IsDeveloperOnly" class="mini-checkbox" text="@Html.GetProperty("IsDeveloperOnly").Name" truevalue="true" falsevalue="false" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input name="IsInput" class="mini-checkbox" text="@Html.GetProperty("IsInput").Name" truevalue="true" falsevalue="false" />
                    @Html.Qtip("IsInput", entityTypeCode, codespace)
                </td>
                <td>
                    @Html.IconLabel("InputType")
                </td>
                <td>
                    <input name="InputType" class="mini-combobox" style="width: 125px;"
                           textfield="name" valuefield="code" data="@Html.DicItemJsonArray(Html.GetProperty("inputType"))" shownullitem="true" />
                    @Html.Qtip("InputType", entityTypeCode, codespace)
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <input name="IsDetailsShow" class="mini-checkbox" text="@Html.GetProperty("IsDetailsShow").Name" truevalue="true" falsevalue="false" />
                    <input name="IsTotalLine" class="mini-checkbox" text="@Html.GetProperty("IsTotalLine", entityTypeCode, codespace).Name" truevalue="true" falsevalue="false" />
                    @Html.Qtip("IsTotalLine", entityTypeCode, codespace)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.IconLabel("Description")
                </td>
                <td colspan="3">
                    <input name="Description" class="mini-textarea" style="width: 352px;" />
                    @Html.Qtip("Description", entityTypeCode, codespace)
                </td>
            </tr>
        </table>
    </div>
</form>
<div id="faceWindow" class="mini-window" visible="false" title="选择图标" style="width: 700px; height: 470px">
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/emotions/jquery.emoticons.js")"></script>
