@model string
@{
	var prifix = Model;
	var codespace = ViewContext.RouteData.DataTokens["area"].ToString();
	var entityTypeCode = ViewContext.RouteData.Values["Controller"].ToString();
}
<form id="@(prifix)form1" method="post">
	<input name="Id" class="mini-hidden" />
	<div style="padding-left: 11px; padding-bottom: 5px;">
		<table>
			<tr>
				<td>
					@Html.IconLabel("Title", entityTypeCode, codespace)
				</td>
				<td colspan="2">
					<input name="Title" class="mini-textbox" required="true" style="width: 350px;" />
					@Html.Qtip("Title", entityTypeCode, codespace)
				</td>
			</tr>
			<tr>
				<td>
					@Html.IconLabel("Description", entityTypeCode, codespace)
				</td>
				<td colspan="3">
					<input name="Description" class="mini-textarea" style="width: 350px;" />
					@Html.Qtip("Description", entityTypeCode, codespace)
				</td>
			</tr>
		</table>
	</div>
</form>
