@{
	Layout = "~/Views/Shared/_Children.cshtml";
	var entityTypeCode = ViewContext.RouteData.Values["Controller"].ToString();
	string codespace = ViewContext.RouteData.DataTokens["area"].ToString();
	var infoTabView = Html.GetRuntimeUivIew("Details");
	var prifix = "Ac_Menu_Children_";
}
<div class="mini-splitter" vertical="true" style="width: 100%; height: 100%;">
	<div size="300" showcollapsebutton="true">
		<div class="mini-toolbar" style="border-left: 0; border-right: 0; border-top: 0px; padding: 2px;">
			<div style="float: left">
				@{Html.RenderPartial("Partials/UiViewButtons");}
			</div>
			<div style="float: right; padding-right: 5px;">
			</div>
			<div style="clear: both;">
			</div>
		</div>
		<!--撑满页面-->
		<div class="mini-fit">
			<div id="@(prifix)datagrid1" class="mini-datagrid" style="width:100%;height:100%;" allowAlternating="true" 
				url="@Url.Action("GetPlistMenuChildren")" idfield="Id" multiselect="true" showModified="false"
				sizeList="[5,10,20,50]" pagesize="10">
				<div property="columns">
					<div type="indexcolumn"></div>
					<div type="checkcolumn"></div>
					<div name="action" width="50" headeralign="center" align="center" cellstyle="padding:0;">
					</div>
					<div field="Icon" width="30" headeralign="center" align="center" allowsort="true">
						图标
					</div>
					<div field="Name" width="120" headeralign="center" allowsort="true">
						名称
					</div>
					<div field="Url" width="220" headeralign="center" allowsort="true">
						路径
					</div>
					<div field="SortCode" width="70" headeralign="center" align="center" allowsort="true">
						@Html.IconLabel("SortCode")
					</div>
					<div field="CreateOn" width="130" headeralign="center" dateformat="yyyy-MM-dd HH:mm:ss" allowsort="true">
						@Html.IconLabel("CreateOn")
					</div>
				</div>
			</div>
		</div>
	</div>
	<div showcollapsebutton="true">
		<div id="@(prifix)tabs1" class="mini-tabs" style="width: 100%; height: 100%;display:none;" activeindex="0"
			bodystyle="padding:0;border:0;">
			<div name="infoTab" bodyCls="inner" title="@infoTabView.Title" iconStyle="background:url(/content/icons/16x16/@infoTabView.Icon)">
			</div>
			@{
				var operationLogView = this.GetOperationLogEntityType();
			}
			<div name="operationLogTab" bodycls="inner" title="@operationLogView.Title" iconStyle="background:url(/content/icons/16x16/@operationLogView.Icon)">
			</div>
		</div>
	</div>
</div>
<div id="faceWindow" class="mini-window" visible="false" title="选择图标" style="width: 700px; height: 470px">
</div>
